<div class="modal-container">

  <div class="modal-content">
    <!-- İptal Butonu -->
    <div class="close-button" (click)="onNoClick()">
      <i class="fas fa-times"></i>
    </div>
    <!-- Modal içeriği burada tanımlanmıştır. -->
    <div class="options">
      <div class="option">
        <span>Sosyal Medya Linki</span>
        <input type="text" class="textInput">
      </div>
      <div class="option">
        <span>Sosyal Medya Adı</span>
        <input type="text" class="textInput">
      </div>
      <div class="option">
        <span>Açıklama</span>

        <input type="text" class="textInput">
      </div>
    </div>
    <!-- Butonlar burada tanımlanmıştır. -->
    <div class="btn">
      <button class="pass-button"><span class="p-btn">Vazgeç</span></button>
      <button class="submit-button"><span class="s-btn">Kaydet</span></button>
    </div>
  </div>
</div>
